<html>
  <head>
    <title>Stream overlay Information</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Share+Tech+Mono" rel="stylesheet" />
    <style>
      #mainBox{
        background-color: #262626;
        color: #cacaca;
        width: 100%;
        height: 4vh;
        position: fixed;
        left: 0;
        top: 0;
        font-size: 3vh;
        text-align: center;
        display: table-cell;
        padding-top: 0px;
        vertical-align: middle;
      }
      .TitleText{

        font-family: 'Roboto', sans-serif;
        float: none;
      }
      .ContentText{
        font-family: 'Share Tech Mono', monospace;
        background-color: #3c3c3c;
        float: none;
      }
    </style>
  </head>
  <body>
    Instructions:<br />
    in OBS studio, create a new browser source (under sources, click the +, then "Browser")<br />
    set the "URL" to "http://dynalogic.org:8080/<your_CID>"
    set the "Width" and "Height" to that of your stream (1920x1080 is a good starting place><br />
    resize and ajust acordingly
  </body>
</html>
